<header class="page">
  <div class="background"></div>
  <div class="container">
    <div class="page-title"><h1>{{category.name}}</h1></div>
    <div class="page-stats"><strong>{{badgesDone.length}}/{{badges.length}}</strong> Completed</div>
  </div>
</header>

<main>
  <div class="container">

    <section class="category-description">
      <p>{{category.description}}</p>
    </section>

   <section class="badge-custom" ng-repeat="badge in badges">
      <div class="badge-custom-title">
        <h3>{{badge.name}}</h3>
      </div>
      <div class="row">
        <div class="badge-custom-image col-xs-12 col-sm-2" ng-class="{ 'badge-blocked' : checkBadge(badge.id) }">
          <img ng-src="assets/img/badges/{{badge.icon}}" height="110" width="110">
        </div>
        <div class="col-xs-12 col-sm-10">
          <ul class="badge-custom-achieves list-group">
            <li class="list-group-item" ng-class="{ 'blocked':checkAchiev(achiev.id)}" ng-repeat="achiev in badge.achievements" ng-click="collapse($event)">
              <div class="achieve-name pull-left">{{achiev.name}}</div>
              <div class="achieve-date text-right"><div ng-hide="checkAchiev(achiev.id)">17/05/2015</div><i class="fa fa-lock" ng-show="checkAchiev(achiev.id)"></i></div>
              <div class="achieve-description">
                {{achiev.description}}
              </div>
            </li>
          </ul>
        </div>
      </div>
   </section>

   <!-- <section class="badge-custom">
      <div class="badge-custom-title">
        <h3>Social Value</h3>
      </div>
      <div class="row">
        <div class="badge-custom-image col-xs-12 col-sm-2 badge-blocked">
          <img src="assets/img/badges/badgeHackathon2.png" height="110" width="110">
        </div>
        <div class="col-xs-12 col-sm-10">
          <ul class="badge-custom-achieves list-group">
            <li class="list-group-item">
              <div class="achieve-name pull-left">Make a Friend</div>
              <div class="achieve-date text-right">16/05/2015</div>
              <div class="achieve-description">
                Take a picture with one of the Facebook employees! (Tag him/her in the photo)
              </div>
            </li>
            <li class="list-group-item blocked">
              <div class="achieve-name pull-left">Move Fast!</div>
              <div class="achieve-date text-right"><i class="fa fa-lock"></i></div>
              <div class="achieve-description">
                Take a picture with your teammates and tag them! Use the hashtags #TeamWork, #insertyourteamnamehere.
              </div>
            </li>
          </ul>
        </div>
      </div>
   </section>

   <section class="badge-custom">
      <div class="badge-custom-title">
        <h3>Free Flow of Information</h3>
      </div>
      <div class="row">
        <div class="badge-custom-image col-xs-12 col-sm-2 badge-blocked">
          <img src="assets/img/badges/badgeHackathon3.png" height="110" width="110">
        </div>
        <div class="col-xs-12 col-sm-10">
          <ul class="badge-custom-achieves list-group">
            <li class="list-group-item blocked">
              <div class="achieve-name pull-left">Live the Moment</div>
              <div class="achieve-date text-right"><i class="fa fa-lock"></i></div>
              <div class="achieve-description">
                Post a video with more than 10s of duration.
              </div>
            </li>
          </ul>
        </div>
      </div>
   </section> -->

  </div>
</main>
