<header class="page">
  <div class="background"></div>
  <div class="container">
    <div class="page-title"><h1>Facebook Hackathon 2015</h1></div>
    <div class="page-stats"><strong>1/3</strong> Completed</div>
  </div>
</header>

<main>
  <div class="container">

    <section class="category-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam veritatis labore nihil ex, dolore tempore nemo est repellendus facilis ea culpa id pariatur hic, quidem eligendi? Aspernatur optio quaerat, esse commodi? Ipsum consequatur modi recusandae architecto magni, quo corrupti rem quia nulla minus, labore eius. Ipsa, quod voluptatem facilis excepturi.</p>
    </section>

   <section class="badge-custom">
      <div class="badge-custom-title">
        <h3>Freedom to Share and Connect</h3>
      </div>
      <div class="row">
        <div class="badge-custom-image col-xs-12 col-sm-2">
          <img src="assets/img/badges/badgeHackathon1.png" height="110" width="110">
        </div>
        <div class="col-xs-12 col-sm-10">
          <ul class="badge-custom-achieves list-group">
            <li class="list-group-item">
              <div class="achieve-name pull-left">I'm Here...</div>
              <div class="achieve-date text-right">16/05/2015</div>
              <div class="achieve-description">
                Check-in at the Hackathon’s location.
              </div>
            </li>
            <li class="list-group-item">
              <div class="achieve-name pull-left">...For the food!</div>
              <div class="achieve-date text-right">16/05/2015</div>
              <div class="achieve-description">
                Post a photo of you or your teammates eating pizza. Use the hashtag #PizzaHack.
              </div>
            </li>
          </ul>
        </div>
      </div>
   </section>

   <section class="badge-custom">
      <div class="badge-custom-title">
        <h3>Social Value</h3>
      </div>
      <div class="row">
        <div class="badge-custom-image col-xs-12 col-sm-2">
          <img src="assets/img/badges/badgeHackathon2.png" height="110" width="110" style="opacity: .5;">
        </div>
        <div class="col-xs-12 col-sm-10">
          <ul class="badge-custom-achieves list-group">
            <li class="list-group-item">
              <div class="achieve-name pull-left">Make a Friend</div>
              <div class="achieve-date text-right">16/05/2015</div>
              <div class="achieve-description">
                Take a picture with one of the Facebook employees! (Tag him/her in the photo)
              </div>
            </li>
            <li class="list-group-item blocked">
              <div class="achieve-name pull-left">Move Fast!</div>
              <div class="achieve-date text-right"><i class="fa fa-lock"></i></div>
              <div class="achieve-description">
                Take a picture with your teammates and tag them! Use the hashtags #TeamWork, #insertyourteamnamehere.
              </div>
            </li>
          </ul>
        </div>
      </div>
   </section>

   <section class="badge-custom">
      <div class="badge-custom-title">
        <h3>Free Flow of Information</h3>
      </div>
      <div class="row">
        <div class="badge-custom-image col-xs-12 col-sm-2">
          <img src="assets/img/badges/badgeHackathon3.png" height="110" width="110" style="opacity: .5;">
        </div>
        <div class="col-xs-12 col-sm-10">
          <ul class="badge-custom-achieves list-group">
            <li class="list-group-item blocked">
              <div class="achieve-name pull-left">Live the Moment</div>
              <div class="achieve-date text-right"><i class="fa fa-lock"></i></div>
              <div class="achieve-description">
                Post a video with more than 10s of duration.
              </div>
            </li>
          </ul>
        </div>
      </div>
   </section>

  </div>
</main>