<header>
  <div class="background"></div>
  <div class="profile-name"><h1><a href="https://www.facebook.com/r.mobis" target="_blank">Raphael Mobis Tacla</a></h1></div>
  <div class="profile-pic">
    <img src="assets/img/raphael.jpg" width="100%">
  </div>
  <!-- <div class="profile-stats"><strong>2</strong> Badges</div> -->
</header>

<main>
  <div class="container">

  <section class="feed-item clearfix">
      <div class="col-xs-2">
        <div class="feed-item-image center-block">
          <img src="assets/img/david.jpg" width="100%">
        </div>
      </div>
      <div class="feed-item-container col-xs-10">
        <h4><a href="https://www.facebook.com/dsfugimoto" target="_blank">David Fugimoto</a></h4>
        <div class="feed-item-content">
          Completed the Achievement: <b>Freedom to Share and Connect</b>
        </div>
        <div class="feed-item-time">
          18 minutes ago
        </div>
      </div>
  </section>

  <section class="feed-item clearfix">
      <div class="col-xs-2">
        <div class="feed-item-image center-block">
          <img src="assets/img/bidu.jpg" width="100%">
        </div>
      </div>
      <div class="feed-item-container col-xs-10">
        <h4><a href="https://www.facebook.com/f12vr">Felipe Rodrigues</a></h4>
        <div class="feed-item-content">
          Unlocked the Badge: <b>Facebook Hackathon 2015</b>
        </div>
        <div class="feed-item-time">
          40 minutes ago
        </div>
      </div>
  </section>

  <section class="feed-item clearfix">
      <div class="col-xs-2">
        <div class="feed-item-image center-block">
          <img src="assets/img/fernando.jpg" width="100%">
        </div>
      </div>
      <div class="feed-item-container col-xs-10">
        <h4><a href="https://www.facebook.com/fernando.ferreira.77985">Fernando Ferreira</a></h4>
        <div class="feed-item-content">
          Unlocked the Badge: <b>Facebook Hackathon 2015</b>
        </div>
        <div class="feed-item-time">
          2 hours ago
        </div>
      </div>
  </section>

  </div>
</main>